#bar{
    width: 100%;
    height: 100px;
}
#map{
    width:100%;
    flex-grow: 1;
}
.name{
    font-size: large;
    text-align: center;
}
.address{
    text-align: center;
    font-size: medium;
}
.moreinfo{
    text-align: center;
}
.images{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    flex-direction: row;
    height:100%;
}
#bar{
    display: flex;
}
#select{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.hyplink{
    color:black;
    font-size: large;
}
.scinner{
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: contain;
    display: block;
    width: auto;
    height: inherit;
}
.infowindow{
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media(max-width: 500px){
    .infowindow{ 
        max-width: 60vw;
        max-height: 60vw;
    }
}
@media(max-height: 500px){
    #bar {
        height:50px; 
    }
    .infowindow{ 
        max-width: 60vh;
        max-height: calc(60vh - 50px);
    }
}
body{
    display:flex;
    height:100%;
    flex-direction: column;
}
html{
    height:100%;
}
#popup{
    position: absolute;
    z-index: 1000;
    display: none;
    width:50vw;
    height:80vh;
    background-color:white;
    left: 25vw;
    top: 10vh;
    text-align:center;
}
#popupinner{
    height:40vh;
    line-height: 1.8;
    text-align: left;
}
#popupimage{
    height: 20vh;
}
#popupbutton{
    height:5vh;
    width: 10vw;
    display: inline-block;
}
.moreinfo{
    color: blue;
}
#popuptitle{
    font-size: large;
    height: 10vh;
}