#bar {
    justify-content: space-evenly;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
}

#map {
    width: 100%;
    flex-grow: 1;
}

.name {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.address {
    text-align: center;
    font-size: medium;
}

.moreinfo {
    text-align: center;
    font-size: medium;
}

.images {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    flex-direction: row;
    height: 100%;
}

#bar {
    display: grid;
    grid-template-columns: 8fr 3fr;
}

#title {
    font-size: xx-large;
    font-weight: bold;
}

#tnl {
    font-size: xx-large;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: start;
    grid-template-columns: 4fr 3fr 3fr;
}

#select {
    justify-items: end;
    align-items: start;
    column-gap: 10px;
    row-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.hyplink {
    text-decoration: none;
    color: black;
    font-size: 60%;
}

.scinner {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: contain;
    display: block;
    width: auto;
    height: inherit;
}

:has(.infowindow) {
    border-radius: 5%;
    overflow: hidden;
}

.infowindow {
    border-radius: 10%;
    min-width: 30vw;
    min-height: 50vh;
    max-width: 50vw;
    max-height: 60vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html,
body {
    margin: 0;
    padding: 0;
}

#fpbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#fpbuttons button {
    cursor: pointer;
}

#fptitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 양쪽 끝 정렬 */
    align-items: center;
}

#fpclose {

    height: 20px;

    width: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;

    background-color: red;

    color: white;
}
.pins {
    border-radius: 50%;
    overflow: visible !important;
}
.pins img {
    border-radius: 50%;
}
.help-button {
    position: fixed;
    bottom: 20px; /* 화면 아래에서 20px 위치 */
    left: 20px; /* 화면 왼쪽에서 20px 위치 */
    background-color: #4285F4; /* 구글 블루 색상 */
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%; /* 원형 버튼 */
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    cursor: pointer;
    z-index: 1000; /* 다른 요소들 위에 표시 */
    transition: background-color 0.3s;
  }
.mspick::after {
    filter: sepia(100%) hue-rotate(20deg) saturate(400%);
    border-radius: 50%;
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px; 
    width: 40px; 
    height: 40px; 
    background-image: url('./images/mspick.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    }
#firstpopup {
    z-index: 1000;
    position: absolute;
    left: 10vw;
    top: 10vh;
    display: none;
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    grid-template-rows: 1fr 9fr 1fr;
}

#fptitle {
    font-size: 30px;
}

#fpinner {
    font-size: 16px;
}

@media(max-width: 700px) {
    .infowindow {
        max-width: 60vw;
        max-height: 60vw;
    }

    #fptitle {
        font-size: 20px;
    }

    #fpinner {
        font-size: 12px;
    }

    #title {
        font-size: x-large;
        font-weight: bold;
    }

    #tnl {
        font-size: x-large;
    }

    #select {
        justify-items: end;
        align-items: start;
        column-gap: 10px;
        row-gap: 5px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    #popup {
        width: 80vw;
    }
}

@media(max-height: 500px) {
    #bar {
        height: 50px;
    }

    #title {
        font-size: large;
        font-weight: bold;
    }

    #tnl {
        font-size: large;
    }

    .infowindow {
        max-width: 60vh;
        max-height: calc(60vh);
    }

    #bar {
        display: var(--bar-display);
    }
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

html {
    height: 100%;
}

#popup {
    overflow: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    position: absolute;
    z-index: 1000;
    display: none;
    width: 50vw;
    height: 80vh;
    background-color: white;
    left: 25vw;
    top: 10vh;
    text-align: center;
}

#popupinner {
    line-height: 1.8;
    text-align: left;
}

#popupimage {
    height: 40vh;
}

#selector-content {
    background-color: gray;
    display: none;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.selector-container {
    position: relative;
}

#popupbutton:hover {
    cursor: pointer;
}

.ahyp {
    font-size: 40% !important;
    vertical-align: super;
}

#popupbutton {
    border-radius: 10px;
    margin: 10px;
    background-color: lightgray;
    border: 1px solid black;
    height: 5vh;
    width: 10vw;
    display: inline-block;
}

::-webkit-scrollbar {
    height: 15px;
    border-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}

.moreinfo {
    color: blue;
}

#popuptitle {
    font-weight: bold;
    font-size: large;
    height: 10vh;
}

.selector-button {
    font-size: large !important;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

:root {
    --bar-display: grid;
}